html,body {
    box-sizing: border-box;
}

.clearfix :after {
    content: "";
    clear: both;
    display: block;

}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
    font-family: "Hiragino Kaku Gothic ProN", sans-serif;
    font-size: 12px;
    color: #333;
}

.content {
    width: 100%;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

.nav-right li {
    display: inline-block;
}

.chat-body {
    height: 500px;
    border: solid 1px #CCC;
}