html,body {
    box-sizing: border-box;
}

.clearfix :after {
    content: "";
    clear: both;
    display: block;

}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
    font-family: "Hiragino Kaku Gothic ProN", sans-serif;
    font-size: 12px;
    color: #333;
}

.content {
    width: 100%;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

.nav-right li {
    display: inline-block;
}

.chat-body {
    width: 100%;
    height: 500px;
    border: solid 1px #CCC;
}

.chat-box {
    display: inline-block;
    width: 100%;
    color: white;
}

.chat-text {
    display: block;
    max-width: 100%;
    padding: 7px;
    margin: 5px;
    border-radius: 10px;
}

.chat-right {
    float: right;
}

.chat-right .chat-text {
    background-color: #0084ff;
}

.chat-left {
    float: left;
}

.chat-left .chat-text {
    background-color: #aaa;
}

.chat-account {
    display: block;
    max-width: 100%;
    font-size: 10px;
    color: #AAAAAA;
    background-color: transparent;
}

.chat-right .chat-account {
    text-align: right;
}